/* -- BODY -- */
body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: #bdd2ff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/* -- BODY CONTENT -- */
.wrapper {
    max-width: 1336px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width: 600px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.animal {
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: deepskyblue;
    color: black;
    width: 150px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

#animal-input {
    display: block;
    width: 20%; 
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#add-animal {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: dodgerblue;
    color: white;
    width: 150px;
    height: 50px;
}


.footer {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ---Responsive Resize--- */
@media (min-width: 0px) and (max-width: 500px) {
    #logo {max-width: 400px; height: auto; overflow: auto;}
}

@media (min-width: 501px) and (max-width: 640px) {
    #logo {max-width: 500px; height: auto; overflow: auto;}
}

@media (min-width:641px) and (max-width: 768px) {
    #logo {max-width: 640px; height: auto; overflow: auto;}
}

@media (min-width:769px) and (max-width: 960px) {
    #logo {max-width: 768px; height: auto;}
}